/*Подключение шрифтов*/
@font-face{

font-family: "PTSans";

src: url("../fonts/web/ptsans.woff2");

font-weight: normal;

font-style: normal;

}


@font-face{

font-family: "PTSans-Bold";

src: url("../fonts/web/ptsansbold.woff2");

font-weight: bold;

font-style: normal;

}

body {
	margin: 0;
	padding: 0;

	font-family: "PTSans";
	font-size: 14px;
	line-height: 1;
	font-weight: normal;
	color: #333333;
	text-transform: uppercase;

	background: #ffffff;
}

/*Навигация*/
a {
	text-decoration: none; 
}
 
.main-navigation {
	font-family: "PTSans-Bold";
	font-size: 14px;
	line-height: 1;
	color: #000000;

	background-color: #ffffff;
}

.site-navigation {
	list-style: none;
}

/*Состояния ссылок в навигации*/
.site-navigation a {
	color: #000000;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:focus {
 	color: rgba(0, 0, 0, 0.3);
 }

.site-navigation a:active {
	color: #766357;
}


/*Главная запись на странице*/
.entry h1 {
	font-family: "PTSans-Bold";
	font-size: 21px;
	line-height: 1;
	text-align: center;
	color: #000000;
}
.entry p {
	font-size: 14px;
	line-height: 1;
	text-align: center;
    color: #333333;
}

/*Список причин*/
.causes {
	list-style: none;
}

.causes-1 b
.causes-2 b {
	font-family: "PTSans-Bold";
	font-size: 21px;
	line-height: 1px;
	text-align: center;
    color: #ffffff;
}

.causes-1 p
.causes-2 p
.causes-1 div
.causes-2 div {
	font-size: 14px;
	line-height: 1px;
	text-align: center; 
    color: #ffffff;
}

.causes-3 b
.causes-4 b {
	font-family: "PTSans-Bold";
	font-size: 21px;
	line-height: 1px;
	text-align: center;
    color: #000000;
} 

.causes-3 p
.causes-4 p
.causes-3 div
.causes-4 div {
	font-size: 14px;
	line-height: 1px;
	text-align: center; 
    color: #333333;
}

/*Список бонусов*/
.bonuses {
	list-style: none;
}

.bonus b {
	font-family: "PTSans-Bold";
	font-size: 21px;
	line-height: 1px;
	text-align: center;
    color: #000000;
}

.bonus p {
	font-size: 14px;
	line-height: 1px;
	text-align: center;
    color: #333333;
}

/*Заинтересовались?*/

.search-hotel b {
	font-family: "PTSans-Bold";
	font-size: 30px;
	line-height: 1px;
	text-align: center;
    color: #000000;
}

.search-hotel p {
	font-size: 14px;
	line-height: 1px;
	text-align: center;
    color: #333333;
}

/*Кнопка "Поиск гостиницы в Седоне"*/
.button-search {
	font-family: "PTSans-Bold";
	background-color: #766357;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
}

.button-search:hover {
	font-family: "PTSans-Bold";
	background-color: #604e43;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
}

.button-search:activ {
	font-family: "PTSans-Bold";
	background-color: #503e33;
	font-size: 21px;
	line-height: 26px;
	color: #938b86;
}

/*Форма "Поиск гостиницы в Седоне"*/
.form-text {
	font-family: "PTSans-Bold";
	font-size: 14px;
	line-height: 1px;
	text-align: center;
    color: #000000;
}

.field {
	font-family: "PTSans-Bold";
	background-color: #f2f2f2;
	font-size: 14px;
	line-height: 1px;
	color: #000000;
}

/*Кнопка "Найти"*/
.modal-search {
	font-family: "PTSans-Bold";
	background-color: #81b3d2;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
}

.modal-search:hover {
	font-family: "PTSans-Bold";
	background-color: #669ec0;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
}

.modal-search:activ {
	font-family: "PTSans-Bold";
	background-color: #669ec0;
	font-size: 21px;
	line-height: 26px;
	color: rgba(255, 255, 255, 0.3);
}

/*Фильтр*/
.filter-option-1 {
	list-style: none;
}

.filter-name-1 {
	list-style: none;
}

.filter-option {
	font-family: "PTSans-Bold";
	font-size: 16px;
	line-height: 1px;
	color: #ffffff;
}

.filter-name {
    font-family: "PTSans-Bold";
	font-size: 16px;
	line-height: 1px;
	color: #ffffff;
}

.services {
	font-size: 14px;
	line-height: 1px;
	color: #ffffff;
}

/*Кнопка "Показать"*/
.show {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}
.show:hover {
	background-color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
}

 /*Сортировка*/
.found {
	font-family: "PTSans-Bold";
	font-size: 21px;
	line-height: 1px;
	color: #000000;
}

.sorting {
	font-size: 10.5px;
	line-height: 17.5px;
	color: #000000;
}

.sorting-criterion {
	list-style: none;
}

.sort-topics-1 { 
    font-size: 10.5px;
	line-height: 17.5px;
	color: #81b3d2;
}

.sort-topics-2 { 
    font-size: 10.5px;
	line-height: 17.5px;
	color: rgba(0, 0, 0, 0.3);
}

.sort-topics-3 { 
    font-size: 10.5px;
	line-height: 17.5px;
	color: rgba(0, 0, 0, 0.3);
}

/*Список аппартаментов*/
.catalog-hotel-card {
	font-family: "PTSans-Bold";
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.catalog-hotel-card:hover {
	font-family: "PTSans-Bold";
	font-size: 21px;
	line-height: 26px;
	color: #81b3d2;
}

.catalog-hotel-card:activ {
	font-family: "PTSans-Bold";
	font-size: 21px;
	line-height: 26px;
	color: rgba(0, 0, 0, 0.3);
}

/*"Подробнее"*/
.button-more-info {
    font-family: "PTSans-Bold";
	background-color: #81b3d2;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}

.button-more-info:hover {
	font-family: "PTSans-Bold";
	background-color: #669ec0;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}

.button-more-info:activ {
	font-family: "PTSans-Bold";
	background-color: #5496bd;
	font-size: 14px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.3);
}

/*"Забронировать"*/
.button-booking {
    font-family: "PTSans-Bold";
	background-color: #766357;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}

.button-booking:hover {
	font-family: "PTSans-Bold";
	background-color: #604e43;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}

.button-booking:activ {
	font-family: "PTSans-Bold";
	background-color: #503e33;
	font-size: 14px;
	line-height: 21px;
	rgba(255, 255, 255, 0.3)
}

.rating {
	background-color: #f2f2f2;
	font-size: 14px;
	line-height: 21px;
	color: #666666;
}
